body {
    background-color: rgb(188, 171, 171);
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card {
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top {
    text-align: center;
}

.card-group {
    margin-bottom: 10px;
}

.card-top > label {
    width: 100%;
    color: rgb(204, 146, 146);
    display: block;
}

.card-group > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button {
    background-image: linear-gradient(to right, red, rgb(116, 16, 16));
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.btn button:hover{
    background-image: linear-gradient(to right, rgb(110, 2, 2), rgb(252, 0, 0));
}

.img-login {
    border-radius: 50px;
    width: 100px;
    box-shadow: 0px 0px 5px #ccc;
}

.tittle {
    color: red;
}
